<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login </title>

        <style>
            .login-form {
                width: 300px;
                margin: 0 auto;
                font-family: Arial, Helvetica, sans-serif;
            }
            .login-form{
                text-align: center;
                color: #44dd44;
                font-size: 24px;
                padding: 20px 0 20px 0;
            }
            .login-form input[type='Password'],
            .login-form input[type='text']{
                width: 100%;
                padding: 15px;
                border: 1px solid #ddd;
                margin-bottom: 15px;
                box-sizing: border-box;
            }
            .login-form input[type="submit"]{
                width: 100%;
                padding: 15px;
                background-color: #535b63;
                border: 0;
                box-sizing: border-box;
                cursor: pointer;
                font-weight: bold;
                color: #fff;
            }

            

        </style>
    </head>
    <body>
        <div class="container">
            <h2>Register form</h2>
            <form class="form-horizontal" role="form" method="POST" action="/confirm"><!--actionคือUrl Pattern-->
              <div class="form-group">
                <label class="control-label col-md-2" for="Username">Username:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Username" id="Username" placeholder="Enter Username">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-2" for="password">password:</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="password" id="password"  placeholder="Enter password"></textarea><!--name=attribute-->
                </div>
              <div class="form-group"> 
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
    </div>
    
    </body>
    </html>
    